<mat-toolbar class="navbar">
    Rob.dll  
    <mat-icon class="icon" [matMenuTriggerFor]="languagemenu">translate</mat-icon>
</mat-toolbar>

 <mat-menu #languagemenu="matMenu">
    <div class="language_option" translate>LANGUAGE.ENGLISH</div>
    <mat-divider></mat-divider>
    <div class="language_option" translate>LANGUAGE.ITALIAN</div>
    <mat-divider></mat-divider>
    <div class="language_option" translate>LANGUAGE.ESPANOL</div>
    <mat-divider></mat-divider>
    <div class="language_option" translate>LANGUAGE.PORTUGUES</div>
  </mat-menu> 