<mat-toolbar class="navbar">
    Rob.dll  
    <mat-icon class="icon">translate</mat-icon>
</mat-toolbar>

<!-- <mat-menu #languagemenu="matMenu">
    [matMenuTriggerFor]="languagemenu"
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu> -->