html {
  height: 100%;
  width: 100%;
}  
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  background-color: black;
  font-size: 2em;
  color: white;
}


a,
a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: none;
  font-size: 1.1em;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  position: fixed;
  width: 100%;
  border-bottom: 2px dotted white;
  padding: 0px 10px;
  box-sizing: border-box;
}

nav a:hover {
  text-decoration: none;
  animation-name: nav-link-hover;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out
}


i.fa {
  font-weight: 500
}

i.fa-code:hover {  color: #1ec503 }
i.fa-envelope-o:hover {  color: #ea4335 }
i.fa-linkedin:hover {  color: #007bb6 }
i.fa-twitter:hover {  color: #00aced }
i.fa-facebook:hover {  color: #3b5998 }
i.fa-instagram:hover {   
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 50%,#d6249f 75%,#285AEB 90%);
    color:transparent; 
   -webkit-background-clip: text;
   background-clip: text;
}

main {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  justify-content: center;
}

section p {
  margin: 10px;
}

#me {
  padding: 100px 10px  0px 10px;
  
   font-size: 1.5em;
}
#me p  {
  text-align: center;
  line-height: 1.5;
}


#article-container{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  align-content: center;
}

article {
  		
  flex: 1 0 auto;
  flex-wrap: wrap;
  height: 30vh;
  margin: .5rem;
  max-width: 20rem;
  min-width: 15rem;
  background: blue;
  margin-bottom: 40px;
  margin-top: 40px;
}

heading {
  text-align: center;
}

/** ANIMATION */

@keyframes nav-link-hover {
  from { color: white;   }
  to { color: orange;   }
}

/* media query */
@media (min-width: 990px) {
  #portfolio {
    padding: 0x 120px;
  }
}