#portfolio {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    min-height: 100vh;
}

#portfolio article {
  margin: 30px 20px;
}


.enlight {
  display: none;
}

@media (min-width: 1420px) {
  #portfolio article {
    min-width: 350px;
    margin: 5px 20px ;
  }
  a.portfolioanchor {
    top: -35px;
  }
}
