.wrapper {
  height: calc(100% - 112px);
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-shadow: 0 3px 8px rgba(0,0,0,.25);
}

.fixed-bg {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 0% 10%;
  height: 100%;

  span {
    flex: 1;
  }
}

.scroll-bg {
  color: #5a5a5a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 85px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-1 {
  background-image: url('/assets/bg1.webp');
}
.bg-2 {
  background-image: url('/assets/bg2.webp');
}
.bg-3 {
  background-image: url('/assets/bg3.webp');
}
.bg-4 {
  background-image: url('/assets/bg4.webp');
}

.title {
  font-size: 1.7em;
  margin: 40px 0px 20px 0px;
}

.subtitle {
  font-size: 0.9em;
  margin: 8px 0px;
}

.action {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  .action__text {
    margin: 5px 0px;
  }
}

.action:visited {
  color: inherit;
}

.description {
  font-size: 0.6em;
}