<div class="wrapper"> <!-- wrapper div starts -->
  
    <section class="fixed-bg bg-1">
      <h2 class="title" translate>ME.TITLE</h2>
      <h4 class="subtitle" translate>ME.SUBTITLE-1</h4>
      <h4 class="subtitle" translate>ME.SUBTITLE-2</h4>
      <h4 class="subtitle" translate>ME.SUBTITLE-3</h4>
      <span> </span>
      <a class="action" href="#project">
        <h4 class="action__text" translate>ME.DISCOVER</h4>
        <mat-icon >keyboard_arrow_down</mat-icon>
      </a>
    </section>
    
    <mat-toolbar id="project" class="scroll-bg">
    </mat-toolbar>

    <div class="fixed-bg bg-2">
    </div>
    
    <div class="scroll-bg">
      some text
    </div>
    
    <div class="fixed-bg bg-3">
    </div>


    <div class="scroll-bg">
      some text
    </div>
    
    <div class="fixed-bg bg-4">
    </div>
    
  </div>