<div class="carousel">
    
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"></span>
    </button>

    <ng-container *ngFor="let card of cards; let i = index">
      <mat-card  class="slide" *ngIf="i === currentSlide" @carouselAnimation>
        <mat-card-header>{{card.title}}</mat-card-header>
        <mat-card-content>   
          <mat-list-item *ngFor="let item of card.items">{{item}}</mat-list-item>
       </mat-card-content>
      </mat-card>
    </ng-container>
  
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"></span>
    </button>

  </div>